<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="content_section">
 <div class="container">
  <div class="about_section mission">
   <div class="row">
    <div class="col-md-12">
     <div class="about_box barley_hide_outline" data-barley="about_box1" data-barley-editor="advanced" contenteditable="false">
      <h1>
       KAMPAI SAKE BOX'S MISSION
      </h1>
     </div>
    </div>
    <div class="col-md-4">
     <div class="sake_box1 barley_hide_outline" data-barley="sake_box1" data-barley-editor="advanced" contenteditable="false">
      <div class="sake_box_img">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/democratize.jpg" alt="about_img1">
       </img>
      </div>
      <p>
       DEMOCRATIZE SAKE
      </p>
     </div>
    </div>
    <div class="col-md-4">
     <div class="sake_box1">
      <div class="sake_box_img barley_hide_outline" data-barley="sake_box2" data-barley-editor="advanced" contenteditable="false">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/together.jpg" alt="about_img1"/>
      </div>
      <p>
       BRING PEOPLE TOGETHER
      </p>
     </div>
    </div>
    <div class="col-md-4">
     <div class="sake_box1">
      <div class="sake_box_img barley_hide_outline" data-barley="sake_box3" data-barley-editor="advanced" contenteditable="false">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/legacy2.jpg" alt="about_img1"/>
      </div>
      <p>
       LEAVE A LEGACY
      </p>
     </div>
    </div>
    <div class="col-md-12">
     <p data-barley="sake_box_p1" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      In our modern world, Sake culture seems mysterious and inaccessible to most. That’s why Kampai Sake is here - we want to bring the beauty of Sake to everyone. By helping you fall in love with Sake and increasing its consumption outside of Japan, we hope to allow Sake brewers to continue to preserve this centuries-old art form. We kampai (cheers) to bring together new drinkers and Japanese Sake brewers.
     </p>
     <p data-barley="sake_box_p2" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      With every box you receive, not only are you embarking on a Sake journey, but you are also helping those in need. Our philosophy is that business exists to support and contribute to communities. Let’s Kampai, have a blast and make a difference together!
     </p>
    </div>
    <!--<div class="col-md-6">
            <div class="image" data-barley="about_box_img1" data-barley-editor="image">
            <img src="{{ 'images/any.png' | asset_url }}" alt="about_img1"/>
            </div>
            </div>-->
   </div>
  </div>
  <div class="about_section">
   <div class="row">
    <div class="col-md-12">
     <h1 data-barley="abt_head" data-barley-editor="text">
      KAMPAI SAKE BOX STORY
      <p>
       <br>
      </p>
     </h1>
    </div>
    <div class="col-md-12">
     <div class="about_box_img barley_hide_outline" data-barley="about_box_img" data-barley-editor="image">
      <img src="{{ 'images/IMG_4290.jpg' | asset_url }}" alt="about_img2"/>
     </div>
     <div class="about_box_details barley_hide_outline" data-barley="about_box_img_1" data-barley-editor="advanced" contenteditable="false">
      <p>
       I was born and raised in Japan and originally moved to the US for school. I have deep ties with my native country and love learning about my own               culture and tradition. This joy intensifies when I am able to share this passion with others. It is through this process that I fell in love with the           beauty and exquisite craftsmanship of Sake making. Every Sake maker is an artist who creates unique types of Sake based on their region’s local                 traditions and climate. They unify their communities through celebration and tradition.
      </p>
      <p>
       I do not consider myself a Sake expert, but I have always known to enjoy Sake fully by heart and yearned to introduce it to the world. I allow Sake                makers to tell their stories as I connect them to people who will enjoy drinking their Sake. From my corner in sunny California, I am happy to do my            part to cheer and support Japanese craftsmanship. Kampai to everyone!
      </p>
      <p class="sign">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/aboutus_sign.jpg?ts=1467432189&host=kampaisakebox.cratejoy.com" alt="about_img2">
       </img>
      </p>
     </div>
     <div class="clr">
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
