<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>
   {% block title %} {{ page_title }} {% endblock %}
  </title>
  <!-- This code renders the standard meta tags, open graph tags, etc which can be configured via settings in the designer -->
  {{ store | canonical_tags(slug, path) }}
    {{ settings | meta_tags(slug, path) }}
    {{ store | ogp_tags(page_title) }}
  <!-- css.base() puts in the base CSS used to style the checkout page, my account page, receipt page, etc -->
  {{ css.base() }}
    {# {{ 'css/reset.css' | asset_url | stylesheet_tag }} #}
    {{ 'css/bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'css/style.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" type="text/css" href="{{ 'css/jquery.remodal.css' | asset_url }}">
    <link href="../css/store.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="https://fonts.googleapis.com/css?family=" rel="stylesheet" type="text/css" >

        
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css"  href="{{'css/style.css' | asset_ulr }}">
    <!-- Change your favicon location here if desired -->
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />

   <!-- Change your favicon location here if desired -->
   {{ 'images/favicon.ico' | asset_url | icon_tag }}


    {% block css %}
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=">
    {% endblock %}

    {{ settings.header_code | safe }}
    <!-- DON'T PUT JAVASCRIPT INCLUDES IN THE HEADER! Put them in the footer! -->
    {% set cart = active_cart() %}
   </link>







   <!-- Facebook Pixel Code -->
   <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1552591865049452');
fbq('track', "PageView");
   </script>
   <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1552591865049452&ev=PageView&noscript=1"/>
   </noscript>
   <!-- End Facebook Pixel Code -->
   <!-- Google Analytics Tracking Code -->
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80109622-1', 'auto');
  ga('send', 'pageview');
   </script>
   <!-- End Google Analytics Tracking Code -->
  </link>
 </head>


 <body class="{% block body_class %}{% endblock %}">
  <div id="mob_menu" class="left_menu">
   <div id="close" class="a_right close_btn">
    <a href="#">
     <img src="{{ 'images/mob_btn_close.png' | asset_url }}" alt="mob_btn_close"/>
    </a>
   </div>
   <div class="mobile_menu">
    <ul>
     <li>
      <a href="/how-it-works" data-barley="mob_menu1" data-barley-editor="link">
       HOW IT WORKS
      </a>
     </li>
     <li>
      <a href="/our-box" data-barley="mob_menu2" data-barley-editor="link">
       OUR BOXES
      </a>
     </li>
     <li>
      <a href="/gift" data-barley="mob_menu3" data-barley-editor="link">
       GIFT
      </a>
     </li>
     <li>
      <a href="/shop" data-barley="mob_menu4" data-barley-editor="link">
       SHOP
      </a>
     </li>
     <li>
      <a href="/subscribe" data-barley="mob_menu6" data-barley-editor="link">
       SUBSCRIBE
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div class="scroll_nav">
   <div class="nav_logo_section">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <div class="logo_box">
        <a href="/" data-barley="logo" data-barley-editor="logo">
         <img src="{{ 'images/logo.png' | asset_url }}" alt="logo"/>
        </a>
       </div>
       <div class="nav_box">
        <ul>
         <li>
          <a href="/how-it-works" data-barley="main_menu1" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
           how it works
          </a>
         </li>
         <li>
          <a href="/our-boxes" data-barley="main_menu2" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
           OUR BOX
          </a>
         </li>
         <li>
          <a href="/gift" data-barley="main_menu3" data-barley-editor="link">
           GIFT
          </a>
         </li>
         <li>
          <a href="/shop" data-barley="main_menu4" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
           Shop
          </a>
         </li>
         <li class="select">
          <a href="/subscribe" data-barley="main_menu6" data-barley-editor="link">
           SUBSCRIBE
          </a>
         </li>
        </ul>
       </div>
       <div class="mobile_btn">
        <a href="#" class="mob_btn">
         <img src="{{ 'images/mob_btn.png' | asset_url }}" alt="mob_btn"/>
        </a>
       </div>
       <div class="clr">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="top_section">
   <div class="container">
    <div class="row">
     <div class="col-sm-6">
      <div class="coupon_code_sec">
       <p data-barley="coupon_code" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
        FREE SHIPPING ON ALL SUBSCRIPTION BOX
       </p>
      </div>
      <!--<div class="countdown_box">
                    Shipping - <div id="showAll" class="countdown_time"></div>
                    </div>-->
     </div>
     <!-- Temporary Button for J-POP Summmit -->
     <!--<div class="col-sm-6">
      <div class="coupon_code_sec">
        <p data-barley="coupon_code" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
          <a href="http://www.kampaisakebox.com/shop/all/" class="jpop-btn">J-POP SPECIAL</a>
        </p>
      </div>
     </div>-->
     <!-- --------------------------------- -->
     <div class="col-sm-6">
      <div class="login_cart_box">
       {% if guest %}
       <a href="/customer/login" data-barley="nav_login" data-barley-editor="link" class="login">
        ACCOUNT
       </a>
       {% else %}
       <a href="/customer/account" data-barley="nav_customer_account" data-barley-editor="link" class="login">
        {{ customer.name }}
       </a>
       <a href="/customer/logout" data-barley="nav_logout" data-barley-editor="link">
        Sign Out
       </a>
       {% endif %}
       <a href="/checkout" class="cart">
        Cart (
        <span class="cart_count">
         {{ (cart.products | length ) + (cart.gifts | length) }}
        </span>
        )
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="nav_logo_section">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="logo_box">
       <a href="/" data-barley="logo" data-barley-editor="logo">
        <img src="{{ 'images/logo.png' | asset_url }}" alt="logo"/>
       </a>
      </div>
      <div class="nav_box">
       <ul>
        <li>
         <a href="/how-it-works" data-barley="main_menu1" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
          how it works
         </a>
        </li>
        <li>
         <a href="/our-box" data-barley="main_menu2" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
          OUR BOX
         </a>
        </li>
        <li>
         <a href="/gift" data-barley="main_menu3" data-barley-editor="link">
          GIFT
         </a>
        </li>
        <li>
         <a href="/shop" data-barley="main_menu4" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
          Shop
         </a>
        </li>
        <li class="select">
         <a href="/subscribe" data-barley="main_menu6" data-barley-editor="link">
          SUBSCRIBE
         </a>
        </li>
       </ul>
      </div>
      <div class="mobile_btn">
       <a href="#" class="mob_btn">
        <img src="{{ 'images/mob_btn.png' | asset_url }}" alt="mob_btn"/>
       </a>
      </div>
      <div class="clr">
      </div>
     </div>
    </div>
   </div>
  </div>
  {% if slug == "index" %}
  <div class="banner_section">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt home_banner_cnt barley_hide_outline" data-barley="banner_cnt" data-barley-editor="advanced" contenteditable="false">
       <h2>
        JOURNEY TO JAPAN
       </h2>
       <h1>
        THROUGH SAKE
       </h1>
       <h5>
        Bi-monthly Sake subscription. Experience Japan sip by sip.
       </h5>
       <div class="button_box">
        <a href="/subscribe" data-barley="home_subscribe_link" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
         GET STARTED
        </a>
       </div>
      </div>
     </div>
     <!--<div class="col-md-6">
                <div class="banner_img" data-barley="banner_img" data-barley-editor="image">
                <img src="{{ 'images/banner_img.png' | asset_url }}" alt="banner_img"/>
                </div>
                </div>-->
    </div>
   </div>
  </div>
  {% elif slug == "about-us" %}
  <div class="banner_section inner_banner about_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline" data-barley="banner_cnt1" data-barley-editor="advanced" contenteditable="false">
       <h1>
        ABOUT US
       </h1>
      </div>
     </div>
    </div>
   </div>
  </div>
  {% elif slug == "our-box" %}
  <div class="banner_section inner_banner our_box_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline" data-barley="banner_cnt2" data-barley-editor="advanced" contenteditable="false">
       <h1>
        welcome to the beautiful autumn
       </h1>
       <!--<div class="button_box">
        <a href="/subscribe" data-barley="our_box_subcribe_link" data-barley-editor="link" contenteditable="false" class="barley_hide_outline">
         Subscribe
        </a>
        <a href="/gift" class="white barley_hide_outline" data-barley="our_box_gift_link" data-barley-editor="link" contenteditable="false">
         Give a Gift
        </a>
       </div>-->
      </div>
     </div>
    </div>
   </div>
  </div>
  {% elif slug == "gift" %}
  <div class="banner_section inner_banner subscribe_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline gift_choice_cnt" data-barley="banner_cnt3" data-barley-editor="advanced" contenteditable="false">
       <h1>
        sake fits all
       </h1>
       <h4>
        <span style="font-weight: normal;">
         Perfect gifts for any occasions.
         <br>
        </span>
        <span style="font-weight: normal;">
         We have two types of gift choices.
        </span>
       </h4>
      </div>
     </div>
     <!--<div class="col-md-6">
      <div class="banner_img barley_hide_outline" data-barley="banner_img3" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/gift_banner_img.png' | asset_url }}" alt="gift_banner_img"/>
      </div>
     </div>-->
    </div>
   </div>
  </div>
  {% elif slug == "shop/listing" %}
  <div class="banner_section inner_banner subscribe_banner store_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline" data-barley="banner_cnt4" data-barley-editor="advanced" contenteditable="false">
       <h1>
        our shop
       </h1>
      </div>
     </div>
     <!--<div class="col-md-6">
      <div class="banner_img barley_hide_outline" data-barley="banner_img4" data-barley-editor="image" contenteditable="false">
       <a href="https://www.instagram.com/kampaisakebox/" target="_blank">
        <img src="{{ 'images/inner_banner_img.png' | asset_url }}" alt="inner_banner_img"/>
       </a>
      </div>
     </div>-->
    </div>
   </div>
  </div>
  {% elif slug == "faq" %}
  <div class="banner_section inner_banner faq_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline" data-barley="banner_cnt5" data-barley-editor="advanced" contenteditable="false">
       <h1>
        faq
        <br>
       </h1>
      </div>
     </div>
     <!--<div class="col-md-6">
      <div class="banner_img barley_hide_outline" data-barley="banner_img5" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/inner_banner_img.png' | asset_url }}" alt="inner_banner_img"/>
      </div>
     </div>-->
    </div>
   </div>
  </div>
  s
  {% elif slug == "contact" %}
  <div class="banner_section inner_banner contact_banner">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="banner_cnt barley_hide_outline" data-barley="banner_cnt6" data-barley-editor="advanced" contenteditable="false">
       <h1>
        get in touch
       </h1>
      </div>
     </div>
     <!--<div class="col-md-6">
      <div class="banner_img" data-barley="banner_img6" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/inner_banner_img.png' | asset_url }}" alt="inner_banner_img"/>
      </div>
     </div>-->
    </div>
   </div>
  </div>
  {% endif %}
 
{% block page_content %}
{% endblock %}
  <div class="footer_section">
   <div class="container">
    <div class="row">
     <div class="col-md-5 ">
      <div class="footer_box barley_hide_outline" data-barley="footer_box1" data-barley-editor="advanced" contenteditable="false">
       <div class="footer_logo">
        <img src="//d3a1v57rabk2hm.cloudfront.net/kampaisakebox/betterman/images/footer_logo.png?ts=1464841460&host=kampaisakebox.cratejoy.com">
        </img>
       </div>
       <p>
        We take you on a cultural journey to Japan and introduce you to exquisite Sake.
       </p>
       <p class="readmore">
        <a href="/about-us">
         Read more >>
        </a>
       </p>
      </div>
     </div>
     <div class="col-md-2">
      <div class="footer_box barley_hide_outline" data-barley="footer_box2" data-barley-editor="advanced" contenteditable="false">
       <h2>
        Quick Links
       </h2>
       <ul>
        <li>
         <a href="/about-us">
          About US
         </a>
        </li>
        <li>
         <a href="/contact">
          CONTACT US
         </a>
        </li>
        <li>
         <a href="/our-box">
          Our Box
         </a>
        </li>
        <li>
         <a href="/gift">
          Gift
         </a>
        </li>
        <li>
         <a href="/shop">
          Shop
         </a>
        </li>
        <li>
         <a href="https://kampaiblog.wordpress.com/" target="_blank">
          Blog
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-md-2">
      <div class="footer_box" data-barley="footer_box3" data-barley-editor="advanced">
       <h2>
        Information
       </h2>
       <ul>
        <li>
         <a href="/faq">
          FAQS
         </a>
        </li>
        <li>
         <a href="/terms_conditions">
          terms & conditions
         </a>
        </li>
        <li>
         <a href="/privacy-policy">
          privacy policy
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-md-3">
      <div class="footer_box footer_last_box barley_hide_outline" data-barley="footer_box4" data-barley-editor="advanced" contenteditable="false">
       <h2>
        Contact Us
       </h2>
       <p>
        <a href="mailto:info@kampaisakebox.com?edit=1&edit_theme_id=313850759?edit=1&edit_theme_id=313850759">
         Info@kampaisakebox.com
        </a>
       </p>
       <h2>
        Follow us on
       </h2>
       <div class="social_links">
        <a href="https://www.facebook.com/kampaisakebox/" contenteditable="false" target="_blank">
         <img src="{{ 'images/fb.png' | asset_url }}" alt="fb"/>
        </a>
        <a href="https://www.instagram.com/kampaisakebox/" contenteditable="false" target="_blank">
         <img src="{{ 'images/ins.png' | asset_url }}" alt="ins"/>
        </a>
        <!--<a href="#" target="_blank">
         <img src="{{ 'images/pin.png' | asset_url }}" alt="pin"/>
        </a>-->
        <a href="https://twitter.com/kampaisakebox" contenteditable="false" target="_blank">
         <img src="{{ 'images/tw.png' | asset_url }}" alt="tw"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="footer_bottom">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div data-barley="copyright" data-barley-editor="text" contenteditable="false" class="barley_hide_outline">
       Copyright 2016 Kampai Sake Box
      </div>
     </div>
    </div>
   </div>
  </div>
  <!--age popup-->
  <div class="remodal started_popup" data-remodal-id="age">
   <div class="popup_icon">
    <img src="{{ 'images/popup_icon.png' | asset_url }}" alt="popup_icon"/>
   </div>
   <h3>
    Must be of legal drinking age.
   </h3>
   <h2>
    Are you over
   </h2>
   <h1>
    21?
   </h1>
   <h3>
    We currently ONLY ship to California, USA.
   </h3>
   <div class="yes_no_btn">
    <a data-age="21" class="age_btn">
     YES
    </a>
    <a data-age="20" class="no age_btn">
     NO
    </a>
   </div>
  </div>
  <div class="remodal started_popup" data-remodal-id="sorry">
   <div class="popup_icon">
    <img src="{{ 'images/popup_icon.png' | asset_url }}" alt="popup_icon"/>
   </div>
   <h1>
    SORRY!
   </h1>
   <h4>
    You must be 21 and over.
   </h4>
   <h3 class="no_tranform">
    We are sorry but you must be of legal drinking age to access our website.
   </h3>
  </div>
  <!--age popup-->
  <script src="{{ 'js/jquery-1.11.3.min.js' | asset_url }}">
  </script>
  <script src="{{ 'js/bootstrap.min.js' | asset_url }}">
  </script>
  <!-- ga.base() sets up google analytics. -->
  <!-- Configure the google analytics settings in the designer under Settings -->
  {{ ga.base() }}
    {{ js.base() }}
  <script src="{{ 'js/jquery.plugin.js' | asset_url }}" type="text/javascript">
  </script>
  <script src="{{ 'js/jquery.countdown.min.js' | asset_url }}" type="text/javascript">
  </script>
  <script src="{{ 'js/jquery.remodal.js' | asset_url }}" type="text/javascript">
  </script>
  <script src="{{ 'js/instafeed.js' | asset_url }}" type="text/javascript">
  </script>
  <script type="text/javascript">
   $(".mob_btn,#close").click(function(e){
            e.preventDefault();
            $("#mob_menu").toggleClass("show_menu");
        });
        $('#showAll').countdown({until: new Date("2016-02-01"), format: 'DHMS'});
        if(window.localStorage.age_true){
            window.location.hash = "";
            
        }
        
        setTimeout(function(){
            window.localStorage.age=20; 
        }, 1800000)
        if(window.localStorage.age==20){
            window.location.hash = "age";
        }
        $('.age_btn').click(function(e) {
            window.localStorage.age = $(this).data().age;
            if(window.localStorage.age==20){
                window.location.hash = "sorry";
        setTimeout(function(){
                window.location = "https://www.google.com";
        }, 3000)
            }else{
                window.location = "";
                window.localStorage.age_true = true;
                
            }
        });
    $(window).unbind("scroll").scroll(function(){
      var top = $(window).scrollTop();
      if(top>110){
       $(".scroll_nav").addClass("nav_fixed_top");
      }else{
       $(".scroll_nav").removeClass("nav_fixed_top");
      }
    });
    var feed = new Instafeed({
       get:"user",
       userId:3231841555,
       limit:4,
       sortBy:"most-recent",
       accessToken:"3231841555.97420b8.6fb270b22d5848a786e8c53154c0bb2f",
       clientId:"97420b819f6d4cc59f2ff7e4de6888a8",
       resolution:"low_resolution",
       
    });
    feed.run();
  </script>
  <!-- PUT JAVASCRIPT INCLUDES AND SNIPPETS HERE -->
  {% block page_javascript %}{% endblock %}

    {{ settings.footer_code | safe}}
 </body>
</html>
