<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
    <div class="content_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact_section">
                        <h1 ata-barley="contact_text1" data-barley-editor="simple">Contact Us</h1>
                        <h2 ata-barley="contact_text2" data-barley-editor="simple">We Would Love To Hear From You!</h2>
                        <h3 ata-barley="contact_text3" data-barley-editor="simple">Please email us if you have any questions or special requests. <br />
     We are always happy to hear your feedback.</h3>
                        <h4 ata-barley="contact_text4" data-barley-editor="simple">Email us at  <a href="mailto:info@kampaisakebox.com" ata-barley="contact_mail_link" data-barley-editor="link">info@kampaisakebox.com</a></h4>
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}
