<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="content_section">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="faq_section">
     <h1 class="text-center barley_hide_outline" data-barley="faq_head" data-barley-editor="simple" contenteditable="false">
      FREQUENTLY ASKED QUESTIONS
     </h1>
     <div class="faq_box">
      <h2 data-barley="faq_question1" data-barley-editor="simple">
       What is Kampai Sake Box?
      </h2>
      <p data-barley="faq_answer1" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Kampai Sake Box will bring sake to your doorstep bi-monthly and have you embark on a cultural journey!
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question2" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       What is Sake?
      </h2>
      <p data-barley="faq_answer2" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Sake is a Japanese traditional alcohol beverage brewed using rice, water and koji mold. Sake typically contains about 15% of alcohol (8% for sparkling Sake). Sake goes well with variety of food and can be drunk either cold or hot.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question3" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Why our Sake?
      </h2>
      <p data-barley="faq_answer3" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Because we hand-pick premium Sake from local brewers, hidden gems that you cannot find in at your preferred sushi bar.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question4" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How much Sake do I receive?
      </h2>
      <p data-barley="faq_answe4" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       You will receive at least 500 ml of Sake per box.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question5" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How should I store my Sake?
      </h2>
      <p data-barley="faq_answer5" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We strongly recommend that if you don't drink the Sake right away, you should store it in a fridge (best choice!) or a cool and dark place in order to keep the quality of the Sake intact. Once a bottle is opened, we suggest you enjoy it within two to three hours. If you can’t finish it, store the bottle in a fridge and enjoy it within next two days as Sake quickly oxidizes and loses its flavor.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question6" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Where do you ship Kampai Sake Boxes?
      </h2>
      <p data-barley="faq_answer6" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Even though we currently ship to California only, we accept payments from all over the world for those of you who want to make a gift to family members, friends or co-workers who reside in California. We are working on expanding to other states.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question7" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Is there a membership fee?
      </h2>
      <p data-barley="faq_answer7" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       There is no membership fee. You are only charged for the Kampai Sake Box you receive. Your credit card is charged at the time of each shipment.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question8" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How should I receive the box?
      </h2>
      <p data-barley="faq_answer8" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We ship our boxes using our preferred carrier. A signature from an adult is required upon delivery according to Government regulations. We recommend you to receive at office if possible.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question9" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       When will my box ship?
      </h2>
      <p data-barley="faq_answer9" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Your box will ship out within 2 weeks of your order. Following boxes will ship approximately two months after the last box was shipped.
       <br>
        <br>
         <b>
          Only our 2016 August box is an exception. If you place an order between 6/29/2016  and 7/31/2016, your box will be shipped on 8/1/2016.  Then, the next box will be shipped around 10/1/2016.
         </b>
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question10" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       When will I be billed?
      </h2>
      <p data-barley="faq_answer10" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       For personal subscriptions, your credit card will be billed immediately upon order. After that, your credit card will be billed every two months.
       <br>
        <br>
         For gift subscriptions or gift boxes, your credit card will be billed immediately upon purchase.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question11" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       What is your cancellation policy?
      </h2>
      <p data-barley="faq_answer11" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Subscription cancellations must be made prior to your subscription renewal date. If you complete the cancellation process after your renewal date, the cancellation will go into effect immediately, but you will still be billed for and receive your last box.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question12" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Can I order additional Sake of my preferred samplers?
      </h2>
      <p data-barley="faq_answer12" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Yes, you can re-order your favorite Sake from our SHOP. If you don’t see it, please email your request to info@kampaisakebox.com. If we have the Sake you want in stock, we will be happy to fulfill your order for you.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question13" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Can I place multiple orders at the same time?
      </h2>
      <p data-barley="faq_answer13" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Subscription orders must be placed one at a time. If you need help with multiple orders please contact customer support at info@kampaisakebox.com.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question14" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How can I cancel my subscription?
      </h2>
      <p data-barley="faq_answer14" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We would hate to see you go, but yes you can cancel your subscription or put your subscription on hold at any time. Simply log into your account, and select the hold or cancel option.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question15" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       What if I receive a bottle that is broken?
      </h2>
      <p data-barley="faq_answe15" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We take the utmost care in packing our boxes. However in the unlikely event that a bottle gets broken in transit, please email us at info@kampaisakebox.com and provide the name of the Sake that broke along with a photo of the damaged bottle. Based upon availability we will send you a replacement or provide you a partial refund.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question16" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       I want to send a gift, how does that work?
      </h2>
      <p data-barley="faq_answe16" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Simply choose whether the gift is one-off, a 6-month bi-monthly subscription (total of 3 shipments) or a 12-month bi-monthly subscription (total of 6 shipments). Your credit card will be billed immediately for the first shipment.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question17" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How can I submit a gift note?
      </h2>
      <p data-barley="faq_answe17" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Please enter your gift note at checkout. We will handwrite your gift message on a nice Kampai Sake Box gift card. A gift note will only be included in the 1st box of the gift subscription service.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question18" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       Can I return my Kampai Sake Box?
      </h2>
      <p data-barley="faq_answe18" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       All subscription boxes and gift boxes are non-refundable and are ineligible for returns.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question19" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How do I know what sake I am getting?
      </h2>
      <p data-barley="faq_answe19" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       The Sake will vary from month to month but will always include a variety of local breweries and flavors from Japan. You can check the brewers’ information from our OUR BOX page.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question20" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       How do you select the Sake?
      </h2>
      <p data-barley="faq_answe20" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We choose the Sake based on the impeccable quality. We will never include a Sake that we have not tasted and enjoyed ourselves. Also, we focus on building a personal relationship with Sake brewers in order to understand the deep intricacies of each Sake so as to transmit the full experience of Sake drinking to you.
      </p>
     </div>
     <div class="faq_box">
      <h2 data-barley="faq_question21" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       What type of payment do you accept?
      </h2>
      <p data-barley="faq_answe21" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       We accept Visa, MasterCard, American Express, Discover, JCB, and Diner’s Club.
      </p>
     </div>
     <div class="faq_box">
      <h2 class="barley_hide_outline" contenteditable="false" data-barley="faq_question22" data-barley-editor="simple">
       Do you charge sales tax?
      </h2>
      <p class="barley_hide_outline" contenteditable="false" data-barley="faq_answe22" data-barley-editor="simple">
       Yes. Sales tax will be charged for orders and subscriptions shipping to an address in a state in which we operate.
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
