<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="whatis_section whats_section_inner">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <h1 data-barley="how_it_work_whats_kampai_box" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
     <span style="font-weight: normal;">
      HOW IT WORKS
     </span>
    </h1>
   </div>
  </div>
  <div class="what_is_box">
   <div class="row">
    <div class="col-md-4">
     <div class="whats_box">
      <div class="image barley_hide_outline" data-barley="how_it_work_select_plan_image" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/howitworks1.jpg' | asset_url }}" alt="whats_img1"/>
      </div>
      <h2 data-barley="how_it_work_select_plan" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       <span style="font-weight: normal;">
        CHOOSE YOUR PLAN
       </span>
      </h2>
     </div>
    </div>
    <div class="col-md-4">
     <div class="whats_box">
      <div class="image barley_hide_outline" data-barley="how_it_work_experience_image" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/howitworks2.jpg' | asset_url }}" alt="whats_img2"/>
      </div>
      <h2 data-barley="how_it_work_experience_japan" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       <span style="font-weight: normal;">
        EXPERIENCE JAPAN
       </span>
      </h2>
     </div>
    </div>
    <div class="col-md-4">
     <div class="whats_box">
      <div class="image barley_hide_outline" data-barley="how_it_work_cheers_image" data-barley-editor="image" contenteditable="false">
       <img src="{{ 'images/howitworks3.jpg' | asset_url }}" alt="whats_img3"/>
      </div>
      <h2 data-barley="how_it_work_cheers" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
       <span style="font-weight: normal;">
        KAMPAI!!
       </span>
      </h2>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="content_section">
 <div class="container">
  <div class="how_its_heading">
   <div class="row">
    <div class="col-md-12">
     <h1 data-barley="how_it_work_what_in_box" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      <span style="font-weight: normal;">
       WHY KAMPAI SAKE BOX?
      </span>
     </h1>
     <p data-barley="how_it_work_what_in_box_text" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      Every other month you will experience Japan without leaving home through our signature boxes.
     </p>
    </div>
   </div>
  </div>
 </div>
 <div class="how_its_main_section">
  <div class="how_its_box_section">
   <div class="col-md-6">
    <div class="image barley_hide_outline" data-barley="how_it_work_premium_image" data-barley-editor="image" contenteditable="false">
     <img src="{{ 'images/shutterstock_332312525.jpg' | asset_url }}" alt="how_its_img1"/>
    </div>
   </div>
   <div class="col-md-6">
    <div class="how_its_box">
     <h2 data-barley="how_it_work_premium_head" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      PREMIUM SAKE
     </h2>
     <p data-barley="how_it_work_premium_text" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      Kampai Sake Box hand selects the finest Sake from the best breweries in Japan for your enjoyment. These Sake makers have been in the Sake business for a very long time. Some of them have been carrying the tradition of Sake making for centuries, some of them for over 300 years!
     </p>
    </div>
   </div>
  </div>
  <div class="how_its_box_section">
   <div class="col-md-6">
    <div class="how_its_box">
     <h2 data-barley="how_it_work_meet_maker_head" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      MEET THE SAKE MAKER
     </h2>
     <p data-barley="how_it_work_meet_maker_text" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      With each Kampai Sake Box you’ll learn about the artisan who produced your Sake.  Each Sake maker has a particular notion for how their Sake should be enjoyed. By connecting you to the Sake maker and sharing their sipping guidance, we help you uncover the secrets hidden deep within each cup in order to truly enjoy your Sake to its fullest.
     </p>
    </div>
   </div>
   <div class="col-md-6">
    <div class="image barley_hide_outline" data-barley="how_it_work_meet_maker_image" data-barley-editor="image" contenteditable="false">
     <img src="{{ 'images/shutterstock_205706185.jpg' | asset_url }}" alt="how_its_img2"/>
    </div>
   </div>
  </div>
  <div class="how_its_box_section">
   <div class="col-md-6">
    <div class="image barley_hide_outline" data-barley="how_it_work_extra_image" data-barley-editor="image" contenteditable="false">
     <img src="{{ 'images/shutterstock_383910619.jpg' | asset_url }}" alt="how_its_img3"/>
    </div>
   </div>
   <div class="col-md-6">
    <div class="how_its_box">
     <h2 data-barley="how_it_work_extra_head" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      THE EXTRA'S
     </h2>
     <p data-barley="how_it_work_extra_text" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      Each Kampai Sake Box comes with extra items that complement the Sake you receive such as traditional Sake serving cups or snack accompaniments. We also include Sake cocktail recipes or food pairing ideas for you to enjoy!
     </p>
    </div>
   </div>
  </div>
  <div class="how_its_box_section">
   <div class="col-md-6">
    <div class="how_its_box">
     <h2 data-barley="how_it_work_our_store_head" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      OUR SHOP
     </h2>
     <p data-barley="how_it_work_our_store_text" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
      Once you’ve tasted your favorite Sake, you can always purchase it again from our store. We also provide Sake gift boxes for family, friends, and corporate gift giving. We have gifts that are sure to please and impress everyone for any occasion!
     </p>
    </div>
   </div>
   <div class="col-md-6">
    <div class="image barley_hide_outline" data-barley="how_it_work_our_store_image" data-barley-editor="image" contenteditable="false">
     <img src="{{ 'images/shutterstock_102912530.jpg' | asset_url }}" alt="how_its_img4"/>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="freeshipping_section">
 <div class="container">
  <div class="row">
   <div class="col-md-12">
    <h1 data-barley="how_it_work_shipping" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
     <span style="font-weight: normal;">
      Free shipping, skip or cancel at anytime. Subscribe today!
     </span>
    </h1>
    <div class="button_box">
     <a href="/subscribe" class="a" data-barley="how_it_work_subscribe_link" data-barley-editor="link">
      SUBSCRIBE
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
