<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="content_section">
 <div class="container">
  <div class="how_its_heading">
   <div class="row">
    <div class="col-md-12">
     <div data-barley="how_its_heading" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      <h3>
       <span style="font-weight: normal;">
        August's Featured
       </span>
      </h3>
      <h2>
       <span style="font-size: 45px;">
        SAKE BREWERIES
       </span>
      </h2>
      <p>
       We have selected perfect Sake for this beautiful summer season! Enjoy our selections and discover Sake that goes well with summer events such as BBQ and pool party!
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="our_box_section">
   <div class="row">
    <div class="col-md-4">
     <div data-barley="our_box_1" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      <div class="image">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/CHIYOMUSUBI.jpg" alt="oru_box_img1">
       </img>
      </div>
      <h2>
       CHIYOMUSUBI SAKE BREWERY
      </h2>
      <p>
       <i>
        Tottori Prefecture
       </i>
      </p>
      <p>
       Established in 1865, Chiyomusubi (which means eternally ties with people) brewery is located in Tottori prefecture and focuses on Sake made from Goriki -strong power- rice. Indeed, Sake made from Goriki rice ages very well, has a unique character with a rich taste and gentle aroma. The rice is only cultivated in Tottori prefecture and to preserve its purity, only registered farmers can cultivate it. Surrounded by great environment, they provide happiness and eternal ties with people through Sake.
      </p>
      <p>
       <br>
      </p>
      <p>
       <br>
      </p>
      <p>
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/tottori.jpg">
        <br>
       </img>
      </p>
     </div>
    </div>
    <div class="col-md-4">
     <div data-barley="our_box_2" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      <div class="image">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/fukumitsuya.jpg" alt="oru_box_img1">
       </img>
      </div>
      <h2>
       FUKUMITSUYA SAKE BREWERY
      </h2>
      <p>
       <i>
        Ishikawa Prefecture
       </i>
      </p>
      <p>
       Premium Sakes fall into two categories: Junmai-shu and Honjozo-shu. They are both made from rice, water, yeast, and koji however Honjozo-shu contains a small amount of distilled alcohol, Junmai-shu does’nt. Fukumitsuya is classified as a “Junmai-Gura”, a Sake Brewery which specializes in Junmai-shu. Since 1625, this “Junmai-Gura” based in Kanazawa, Ishikawa, uses natural mineral water, superior quality of Sake rice, and its traditional brewing skills to create the highest quality of Junmai Sake.
      </p>
      <p>
       <br>
      </p>
      <p>
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/ishikawa.jpg">
        <br>
       </img>
      </p>
     </div>
    </div>
    <div class="col-md-4">
     <div data-barley="our_box_3" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
      <div class="image">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/yamamotohonke.jpg" alt="oru_box_img1">
       </img>
      </div>
      <h2>
       YAMAMOTO HONKE
      </h2>
      <p>
       <br>
      </p>
      <p>
       <i>
        Kyoto Prefecture
       </i>
      </p>
      <p>
       Yamamoto Honke started brewing in the beginning of the Edo period around 1677, in Fushimi in Kyoto prefecture, ancient capital of Japan. During the famous Battle of Toba-Fushimi in 1868, the brewery was severely damaged. However it raised from the ashes and to this day produces a Sake known for its charm, elegance and softness. The brewery sources its water from Shiragiku -water of white chrysanthemum- a water spring located in the surrounding mountains.
      </p>
      <p>
       <br>
      </p>
      <p>
       <br>
      </p>
      <p>
       <br>
      </p>
      <p class="map_box">
       <img src="//s3.amazonaws.com/cratejoy_vendor_images/kampaisakebox/parcel/images/4.png">
       </img>
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class="wanna_sake">
   <div class="row">
    <div class="col-md-12">
     <div class="barley_hide_outline">
      <h2 data-barley="wanna_sake" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
       <span style="font-weight: normal;">
        Feel adventurous?  Want to try their Sake?
       </span>
      </h2>
      <div class="button_box">
       <a href="/subscribe" class="red barley_hide_outline" data-barley="gift_box_link2" data-barley-editor="link" contenteditable="false">
        SUBSCRIBE
       </a>
       <a href="/gift-boxes" class="yellow barley_hide_outline" data-barley="gift_box_link3" data-barley-editor="link" contenteditable="false">
        GIVE A GIFT
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}
