<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="content_section">
 <div class="container">
  <section class="row headline text-center">
   <h2 data-barley="privacy-title" data-barley-editor="simple" contenteditable="false" class="barley_hide_outline">
    <span style="font-weight: normal;">
     PRIVACY POLICY
    </span>
   </h2>
  </section>
  <section class="row faqs">
   <div class="col-xs-12 prose barley_hide_outline" data-barley="terms_conditions" data-barley-editor="advanced" contenteditable="false">
    <h3>
     <b>
      Privacy Policy
     </b>
    </h3>
    <p>
     <i>
      Updated on June 29, 2016
     </i>
    </p>
    <h4>
     <b>
      INTRODUCTION
     </b>
    </h4>
    <p>
     <b>
     </b>
     At Kampai Sake Box LLC ("we","our","us" or "Kampai Sake Box"), we respect your privacy and are committed to protecting it through our compliance with this policy. This policy describes the types of information we may collect from you or that you may provide when you visit our website at www.kampaisakebox.com or on our mobile applications (collectively, our "website") and how we use the information we collect, with whom we share it, how we protect it, and the choices we offer you regarding our collection and use of such information. Please read this Privacy Policy carefully. If you do not agree to our practices, please do not register, subscribe, create an account, or otherwise interact with our website. By visiting the website, you accept the practices described in this Privacy Policy.
    </p>
    <h4>
     WHAT DO WE DO WITH YOUR INFORMATION?
    </h4>
    <p>
     When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address. When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing: With your permission, we may send you emails about our store, new products and other updates.
    </p>
    <h4>
     CONSENT
    </h4>
    <p>
     <b>
      How do you get my consent?
     </b>
    </p>
    <p>
     <b>
     </b>
     When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
    </p>
    <p>
     <b>
      How do I withdraw my consent?
     </b>
    </p>
    <p>
     <b>
     </b>
     If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at info@kampaisakebox.com or mailing us at: Kampai Sake Box LLC 610 16th Street M16, Oakland, CA, 94612, United States We provide users with the opportunity to opt-out from receiving our newsletters and other communications from us by clicking on the "Unsubscribe" link at the bottom of any e-mail.
    </p>
    <h4>
     DISCLOSURE
    </h4>
    <p>
     We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
    </p>
    <h4>
     CRATEJOY
    </h4>
    <p>
     Our store is hosted on Cratejoy Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you. Your data is stored through Cratejoy’s data storage, databases and the general Cratejoy application. They store your data on a secure server behind a firewall.
    </p>
    <h4>
     SECURITY
    </h4>
    <p>
     We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline. Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page. While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (e.g. billing or customer service) are granted access to personally identifiable information. The computers/servers on which we store personally identifiable information are kept in a secure environment.
    </p>
    <h4>
     COOKIES
    </h4>
    <p>
     We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance their experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site. Some of our business partners may use cookies on our site (e.g., advertisers). However, we have no access to or control over these cookies.
    </p>
    <h4>
     LINKS TO OTHER SITES
    </h4>
    <p>
     This Privacy Policy applies only to this website, and not to websites owned by third parties. We may provide links to other websites which we believe may be of interest to our visitors. We aim to ensure that such websites are of the highest standard. However, due to the nature of the internet, we cannot guarantee the privacy standards of websites to which we link or be responsible for the contents of sites other than this one, and this Privacy Policy is not intended to be applicable to any linked, non-Kampai Sake Box website.
    </p>
    <h4>
     BLOG
    </h4>
    <p>
     Our website offers publicly accessible blogs. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them.
    </p>
    <h4>
     SURVEYS & CONTESTS
    </h4>
    <p>
     From time-to-time our site requests information via surveys or contests. Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). Contact information will be used to notify the winners and award prizes. Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.
    </p>
    <h4>
     PERSON UNDER THE AGE OF 21
    </h4>
    <p>
     By using this site, you represent that you are over the age of 21. Our website is not directed to, and we do not knowingly collect or solicit personal information from, anyone under the age of 21. If we learn we have collected or received personal information from anyone under the age of 21, we will delete that information. If you believe we might have any information from or about anyone under the age of 21, please contact us at info@kampaisakebox.com.
    </p>
    <h4>
     CHANGES TO THIS PRIVACY POLICY
    </h4>
    <p>
     We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it. If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
    </p>
    <h4>
     CONTACT INFORMATION
    </h4>
    <p>
     To ask questions or comment about this privacy policy and our privacy practices, contact us at info@kampaisakebox.com.
    </p>
   </div>
  </section>
 </div>
</div>
{% endblock %}
