{% extends "base.html" %}
{% block header_content %}
{% endblock %}
{% block page_content %}




<section id="" class="row subsection accented cta">
      <div class="col-md-12 text-center">
          <div class="heading">
            <h2><img src="{{ 'images/sold-out.png' | global_asset_url }}" alt=""/></h2>
          </div>
          <div data-barley="sold-out-title" data-barley-editor="plus" class="heading large-heading-inverted-grp">
            <h2>Sorry, we are currently sold out.</h2>
          </div>

          <div class="paragraph body-inverted-grp" data-barley="sold-out-message" data-barley-editor="advanced">We know you want {{ store.name }}, but we're at capacity for this month.  Don't worry though, because we have more goodies coming next month!<br/><br/>
        </div>
        <div class="heading">
          <a type="button" class="btn getstarted-button button-grp" href="/" data-barley="back_home" data-barley-editor="link">BACK TO HOMEPAGE</a>
        </div>
      </div>
</section>
{% endblock %}
